@font-face {
	font-family: 'ThuPhap1';
	src: url('../../font/thuphap-long.TTF');
    }

@font-face {
    font-family: 'ThuPhapHeaderSmall';
    src: url('../../font/Vntfap01.ttf')
}
body {
    font-size: 100%;
    background-color:#F8E9A1;
    color: black;
}

.ui.vertical.stripe {
    padding: 1em 0em;
}

/* h1:first-child{
    margin-top: 3em;
} */

.masthead .ui.container .main.menu{
    /* background:#F8E9A1; */
    border-style: none!important;
    box-shadow: none;
}

.masthead .ui.container .main.menu .ui.container {
    /* background:#F8E9A1; */
    border-style: none!important;
    box-shadow: none;
}

.masthead .ui.container h1.ui.header {
    margin-top: 1.5em;
    font-family: "ThuPhap1";
    font-size: 10em;
}

.mast_topics {
    margin-bottom: 1rem;
}

.mast_topics .column {
    margin-bottom: 3rem;
    border-style: none!important;
    box-shadow: none;
}

.mast_topics .column .ui.segment a {
    font-size: 4em !important;
    font-family: "ThuPhapHeaderSmall";
    color: black ;
    text-align: center;
    min-height: 5em;
    min-width:  3em;
    line-height: 1.25em;
}

.mast_topics .column .ui.segment a:hover{
    color: #F76C6C !important;
    text-decoration: none;
}

.mast_topics .column .ui.segment {
    background-color: transparent;
    border-style: none!important;
    box-shadow: none;
    text-align: center;
}

.masthead .ui.dropdown .mastmenu {
    background-color: transparent;
}

.masthead .ui.dropdown .mastmenu .item a{
    color: black;
}

