<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Lê sơ tản văn{% else %}Lê sơ tản văn{% endif %}
{% endblock %}

{% block head %}
{{super()}}
<meta charset="UTF-8">
<meta name="author" content="Đồng tác giả bởi Trần Thị Kim Trang và Trần Long Châu">
<meta name="keywords" content="history, Vietnam, Lê, lịch sử, Việt Nam">
<meta name="description" content="Nơi lưu lại những án tản văn về thời Lê sơ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='shortcut icon' type='image/x-icon' href='/static/Images/favicon.ico' />
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css"> -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/base.css">

 {% if link_css %}
    <link rel="stylesheet" href={{ link_css }}> {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script> -->
<script src="/static/semantic/dist/semantic.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

{% if link_js %}
  <script src={{ link_js }}></script> {% endif %}

  <script>
    function translate(sourceElem, destElem, sourceLang, destLang) {
        $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
        $.post('/translate', {
            text: $(sourceElem).text(),
            source_language: sourceLang,
            dest_language: destLang
        }).done(function(response) {
            $(destElem).text(response['text'])
        }).fail(function() {
            $(destElem).text("{{ _('Error: Could not contact server.') }}");
        });
    }
    $(function () {
        var timer = null;
        var xhr = null;
        $('.user_popup').hover(
            function(event) {
                // mouse in event handler
                var elem = $(event.currentTarget);
                timer = setTimeout(function() {
                    timer = null;
                    xhr = $.ajax(
                        '/user/' + elem.first().text().trim() + '/popup').done(
                            function(data) {
                                xhr = null;
                                elem.popover({
                                    trigger: 'manual',
                                    html: true,
                                    animation: false,
                                    container: elem,
                                    content: data
                                }).popover('show');
                                flask_moment_render_all();
                            }
                        );
                }, 1000);
            },
            function(event) {
                // mouse out event handler
                var elem = $(event.currentTarget);
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                else if (xhr) {
                    xhr.abort();
                    xhr = null;
                }
                else {
                    elem.popover('destroy');
                }
            }
        );
    });
    function set_message_count(n) {
        $('#message_count').text(n);
        $('#message_count').css('visibility', n ? 'visible' : 'hidden');
    }
    function set_task_progress(task_id, progress) {
        $('#' + task_id + '-progress').text(progress);
    }
    {% if current_user.is_authenticated %}
    $(function() {
        var since = 0;
        setInterval(function() {
            $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                function(notifications) {
                    for (var i = 0; i < notifications.length; i++) {
                        switch (notifications[i].name) {
                            case 'unread_message_count':
                                set_message_count(notifications[i].data);
                                break;
                            case 'task_progress':
                                set_task_progress(notifications[i].data.task_id,
                                    notifications[i].data.progress);
                                break;
                        }
                        since = notifications[i].timestamp;
                    }
                }
            );
        }, 10000);
    });
    {% endif %}
</script>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{%- block footer %}
<div class="ui inverted vertical footer segment" style="background-color:#24305E">
    <div class="ui container base_footer">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header"> {{ _("Về chúng tôi") }} </h4>
          <div class="ui inverted link list">
            <a href="#" class="item">{{  _('Sitemap') }}</a>
            <a href="#" class="item">Liên hệ</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Dịch vụ</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">How-to</a>
            <a href="#" class="item">Nguồn tham khảo</a>
            <a href="#" class="item">Quyền sử dụng</a>
            <a href="#" class="item">Blog</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Lê sơ tản văn</h4>
          <p>Đây là nơi trình bày những gì mà chúng tôi tìm kiếm được vào thời Lê sơ.</p>
          <p>Nội dung được tổng hợp bởi
            <a href="#">Trần Thị Kim Trang</a>
          </p>
          <p>Trang web được thiết lập bởi
            <a href="https://github.com/Ihsara">Trần Long Châu</a>

          </p>
        </div>
      </div>
    </div>
</div>
{%- endblock footer %}
{% endblock %}
