{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="ui vertical masthead center aligned">
    <div class="ui container">
        <div class="ui fixed large main menu" style="display: flex !important;">
            <div class="ui container">
                <div class="right item">
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('auth.login') }}" class="ui inverted blue button">{{ _('Đăng nhập') }}</a>
                    {% else %}

                    <a href="{{ url_for('main.explore') }}" class="ui inverted purple button">{{ _('Cập nhật') }}</a>
                    <a href="{{ url_for('main.user', username=current_user.username) }}" class="ui inverted green button">{{
                        _('Trang
                        cá
                        nhân') }}</a>
                    <a href="{{ url_for('auth.logout') }}" class="ui inverted red button">{{ _('Đăng xuất') }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <h1 class='ui header test_carto' style="color:black; text-align: center;">{{ _('Leâ sô taûn vaên') }}</h1>
    </div>

</div>

<div class="ui mast_topics two column stackable grid container">
    <div class="column">
        <div class="ui segment"><a href="#">{{ _('Taûn vaên')}}</a></div>
    </div>
    <div class="column">
        <div class="ui segment"><a href="#">{{ _('Doøng thôøi gian') }}</a></div>
    </div>
    <div class="column">
        <div class="ui segment"><a href="#">{{ _('Trieàu ñình Leâ sô') }}</a></div>
    </div>
    <div class="column">
        <div class="ui segment"><a href="#">{{ _('Nhaân vaät tieâu bieåu') }}</a></div>
    </div>
</div>
{% endblock %}